@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Archivo', sans-serif;
}

/* Header */
nav {
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    font-family: 'Archivo', sans-serif;
    z-index: 100;
    max-width: 100%;
}

nav .nav-bar .sidebarOpen {
    color: #111;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar img {
    width: 20%;
}

nav .nav-bar {
    position: relative;
    height: 100%;
    /* max-width: 1000px; */
    width: 100%;
    /* background-color: rgb(1, 119, 191); */
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-header .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 10px;
    list-style: none;
    transform: translateX(250px);
}

.nav-bar .nav-links li a:hover {
    color: rgb(1, 119, 191);
    border-bottom: 1px solid rgb(1, 119, 191);
}

.nav-links li a{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    text-align: none;
    font-family: 'Archivo', sans-serif;
    color: #111;
    padding: 10px;
}

.nav-bar .darklight-searchBox {
    display: flex;
    align-items: center;
}

.darklight-searchBox .searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.searchToggle i {
    position: absolute;
    color: #111;
    font-size: 22px;
    cursor: pointer;
}

.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}

.searchBox {
    position: relative;
}

.searchBox .search-field {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 3px;
    border-radius: 6px;
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); */
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field {
    bottom: -65px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before {
    content: '';
    position: absolute;
    right: 14px;
    top: -2px;
    height: 12px;
    width: 12px;
    background-color: rgb(1, 119, 191);
    transform: rotate(-45deg);
    z-index: -1;
}


.search-field input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: 1px solid rgb(1, 119, 191);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #111;
}

.search-field i {
    position: absolute;
    color: #111;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

/* Main */
    /* Section1 */

.section1 {
    width: 100%;
    margin: 20px 0;
}    

.img-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-about img {
    width: 100%;
}

    /* Section2 */
    
.section2 {
    width: 100%;
}

.about-dpp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;    
    margin: 50px 0;
}

.about-dpp h3 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 8px 30px;
    color: #fafafa;
    background: rgb(1, 119, 191);
    width: 40%;
    margin-bottom: 20px;
    border-radius: 0px 30px 30px 0;
}

.about-dpp p {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    padding: 0 50px;
    word-wrap: normal;
}

    /* Section3 */

.section3 {
    width: 100%;
    margin: 80px 0;
}

.naz-trading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.naz {
    width: 60%;
}

.logo-naz {
    display: flex;
    padding: 30px 30px;
}

.logo-naz img {
    width: 30%;
}

.title-naz {
    display: flex;
    background-color: rgb(255, 194, 15);
    width: 100%;
}

.title-naz h3 {
    padding: 5px 30px;
    font-family: 'Poppins', sans-serif;
}

.about-naz {
    display: flex;
    text-align: left;
}

.about-naz p {
    padding: 20px 30px;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}


   /* Certificate */
   .section3 {
    width: 100%;
    font-family: 'poppins', sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
    /* background-color: #f1f1f1; */
    padding: 10px;
    flex: 25%;
    padding: 40px 0;
}

.flex-item-midleft {
    /* background-color: #f1f1f1; */
    padding: 10px;
    flex: 25%;
    padding: 40px 0;
}

.flex-item-midright {
    /* background-color: #f1f1f1; */
    padding: 10px;
    flex: 25%;
    padding: 40px 0;
}
  
.flex-item-right {
    /* background-color: #f1f1f1; */
    padding: 10px;
    flex: 25%;
    padding: 40px 0;
}

.first-logo {
    margin: 20px 0;
}

.first-logo img {
    display: flex;
    padding: 5px 40px;
    width: 30%;
}

.first-logo h6 {
    font-size: 15px;
    display: flex;
    justify-content: left;
    padding: 10px 40px;
}

.first-logo p {
    font-size: 14px;
    display: flex;
    text-align: left;
    padding: 0 40px;
    font-weight: 400;
    line-height: 25px;
}

.our-cert {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    /* background-color: #f1f1f1; */
    margin: 0 50px;
}


.our-cert h1 {
    padding: 50px 0;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.button-certi {
    display: flex;
    justify-content: right;
    align-items: right;
    margin: 20px 80px;
}

.button-certi button {
    padding: 10px 30px;
    border: none;
    background-color: #3d434b;
}

.button-certi button a {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #fafafa;
}

.our-cert button:hover {
    transform: translateY(-3px);
    background-color: #53a4eb;
} 

.our-cert button a {
    color: #fafafa;
    font-size: 15px;
}

    /* Section4 */
.section4 {
    width: 100%;
}

.year-container {
    display: flex;
    flex-wrap: wrap;
}

.year-left {
    padding: 10px;
    flex: 25%;
}

.year-left img,
.year-midleft img,
.year-midright img,
.year-right img {
    width: 100%;
    outline: none;
}

.year-left p,
.year-midleft p,
.year-midright p,
.year-right p {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
    padding: 0 30px;
    transform: translateY(-100px);
}

.year-midleft {
    padding: 10px;
    flex: 25%;
}

.year-midright {
    padding: 10px;
    flex: 25%;
}

.year-right {
    padding: 10px;
    flex: 25%;
}

.history {
    margin: 30px 0;
}

.history span {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 30px 30px;
    display: flex;
    text-align: center;
}

    /* Section5 */

.section5 {
    width: 100%;
    margin: 50px 0;
}    

.fac-container {
    display: flex;
    flex-wrap: wrap;
}

.fac-left {
    flex: 50%;
}

.fac-left h1 {
    font-family: 'Poppins', sans-serif;
    color: rgb(1, 119, 191);
    padding: 20px 30px;
}

.fac-left p {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    padding: 0 50px;
    text-align: left;
    justify-content: justify;
    line-height: 30px;
}

.fac-right {
    flex: 50%;
}

.fac-right img {
    width: 100%;
    padding: 10px 30px;
    border: none;
}

.qu {
    width: 100%;
    height: 280px;
}


/* Footer */

.footer {
    width: 100%;
    background-color: #3d434b;
    color: #fff;
    margin-top: 50px;
}

.footer h4 {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.item-left , 
.item-main , 
.item-right{
    flex: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
}

.item-left , 
.item-main , 
.item-right span {
    font-family: 'Poppins', sans-serif;
    color: #fafafa;
    font-size: 15px;
}

.item-left {
    border-right: 2px solid #202225;
}

.item-main {
    border-right: 2px solid #202225;
}

.icon-footer {
    margin-top: 30px;
}


.icon-footer a {
    color: #fff;
    margin-left: 10px;
}

.icon-footer a:hover {
    color: #53a4eb;
}

.social-media {
    font-size: 30px;
}

.social-media a {
    margin: 0 10px;
    color: #fafafa;
}

.social-media a:hover {
    color: #53a4eb;
    transform: translateY(-5px);
}

.reserved {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #202225;
    padding: 20px 0;
}

.reserved span {
    font-size: 12px;
}

.final {
    background-color: #202225;
}

/* Button */
.button-naz {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: right;
}


.button-naz a button{
    padding: 15px 30px;
    cursor: pointer;
    margin: 0 30px;
    background-color: rgb(255, 194, 15);
    color: #202225;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.button-naz a button:hover {
    transform: translateY(-3px);
}



/* MediaQuery */


@media (max-width:920px) {
    /* Header */
    nav .nav-bar .sidebarOpen {
        display: block;
    }

    .menu-header {
        position: fixed;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: rgb(1, 119, 191);
        z-index: 100;
        transition: all 0.8s ease;
    }
    
    nav.active .menu-header {
        left: 0%;
    }

    .menu-header .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose {
        color: #fafafa;
        font-size: 24px;
        cursor: pointer;
    }

    nav .nav-bar img {
        width: 60%;
        padding: 0;
    }

    .nav-bar .nav-links li {
        transform: translateX(0);
        padding: 20px 0;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 50px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
    }
    

    

    /* Main */
    .naz {
        width: 100%;
    }

    .img-about img {
        width: 100%;
        background-size: contain;
    }

    .flex-item-left img {
        width: 100%;
    }

    .about-dpp h3 {
        font-size: 15px;
        padding: 20px 10px;
        margin: 0;
        width: 100%;
    }

    .about-dpp p {
        font-size: 13px;
        padding: 0 10px;
        margin: 0;
    }

    .icon-cert {
        margin: 20px 0;
    }

    .icon-cert img {
        width: 20%;
    }

    .flex-item-right, .flex-item-left {
        flex: 100%;
    }

    .flex-item-right img {
        width: 100%;
    }

    .first-logo img {
        width: 40%;
    }

    .year-left, 
    .year-midleft , 
    .year-midright , 
    .year-right {
        flex: 100%;
    }
    .flex-item-right,
    .flex-item-left , 
    .flex-item-midleft, 
    .flex-item-midright {
        flex: 100%;
    }

      .flex-emp-right,
      .flex-emp-left , 
      .flex-emp-midleft, 
      .flex-emp-midright {
          flex: 100%;
          padding: 40px 0;
    }

    .our-cert {
        display: flex;
        flex-direction: column;
    }

    .our-cert h1 {
        font-size: 24px;
    }

    .our-cert button a{
        padding: 10px 10px;
        font-size: 13px;
    } 

    .fac-right, 
    .fac-left {
        flex: 100%;
    }

    .persian-container {
        width: 100%;
    }

    .logo-naz {
        padding: 0;
        margin: 0;
    }

    .logo-naz img {
        width: 70%;
    }

    .title-naz h3 {
        font-size: 14px;
        padding: 5px 10px;
    }

    .about-naz p {
        font-size: 14px;
        padding: 5px 10px;
        margin: 0;
    }

    .fac-left h1 {
        font-size: 20px;
    }

    .fac-left p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .fac-right img {
        width: 100%;

    }

    .qu {
        height: 150px;
    }


    /* Footer */      
    .item-left , 
    .item-main , 
    .item-right{
        flex: 100%;
    }

    .item-left , .item-main {
        border-right: none;
        border-bottom: 2px solid #202225;
    }
}

@media (width:810px) {
    .nav a img {
        width: 20%;
    }

     .nav ul {
        position: fixed;
        width: 100%;
        left: 0;
        height: 100vh;
        background-color: #53a4eb;
        text-align: center;
        padding: 0;
        /* top: 50px; */
        left: -100%;
        transition: 2s;
    }

    nav ul.slide {
        left: 0;
        transition: 2s;
    }
    

    .nav ul li {
        display: block;
        width: 100%;
        margin: 20px 0;
    }

    .nav ul li a {
        border: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }

    .hamburger {
        float: right;
        padding-right: 20px;
        padding-top: 40px;
        cursor: pointer;
    }

    .hamburger .line {
        width: 40px;
        height: 3px;
        background-color: black;
        display: block;
        margin-bottom: 5px;

    }

    /* Main */
    .naz {
        width: 100%;
    }

    .naz .logo-naz img {
        width: 40%;
    }

    .img-about img {
        width: 100%;
        background-size: contain;
    }

    .flex-item-left img {
        width: 100%;
    }

    .about-dpp h3 {
        font-size: 15px;
        padding: 20px 10px;
        margin: 0;

    }

    .about-dpp p {
        font-size: 13px;
        padding: 0 20px;
        margin: 0;
    }

    .icon-cert {
        margin: 20px 0;
    }

    .icon-cert img {
        width: 20%;
    }

    .flex-item-right, .flex-item-left {
        flex: 100%;
    }

    .flex-item-right img {
        width: 100%;
    }

    .first-logo img {
        width: 40%;
    }

    .year-left, 
    .year-midleft , 
    .year-midright , 
    .year-right {
        flex: 100%;
    }
    .flex-item-right,
    .flex-item-left , 
    .flex-item-midleft, 
    .flex-item-midright {
        flex: 100%;
    }

      .flex-emp-right,
      .flex-emp-left , 
      .flex-emp-midleft, 
      .flex-emp-midright {
          flex: 100%;
          padding: 40px 0;
    }

    .flex-item-midleft .first-logo img ,
    .flex-item-midright .first-logo img, 
    .flex-item-right .first-logo img {
        width: 20%;
    }

    .our-cert {
        display: flex;
        flex-direction: column;
    }

    .our-cert h1 {
        font-size: 24px;
    }

    .our-cert button a{
        padding: 10px 10px;
        font-size: 13px;
    } 

    .fac-right, 
    .fac-left {
        flex: 100%;
    }

    .persian-container {
        width: 100%;
    }

    .logo-naz {
        padding: 0;
        margin: 0;
    }

    .logo-naz img {
        width: 70%;
    }

    .title-naz h3 {
        font-size: 14px;
        padding: 5px 10px;
    }

    .about-naz p {
        font-size: 14px;
        padding: 5px 10px;
        margin: 0;
    }

    .fac-left h1 {
        font-size: 20px;
    }

    .fac-left p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .fac-right img {
        width: 100%;

    }

    .qu {
        height: 150px;
    }


    /* Footer */      
    .item-left , 
    .item-main , 
    .item-right{
        flex: 100%;
    }

    .item-left , .item-main {
        border-right: none;
        border-bottom: 2px solid #202225;
    }
}