@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

/* Header */

.nav {
    width: 100%;
    /* height: 100px; */
}

.nav a img {
    width: 8%;
    padding-left: 20px;
    margin-top: 10px;
}

.nav ul {
    float: right;
    padding: 15px 10px;
    margin-right: 20px;
    /* border: 1px solid #53a4eb;
    background-color: #53a4eb; */
    margin-top: 3px;
    border-radius: 20px;
}

.nav ul li {
    display: inline-block;
    margin: 0 20px;
    line-height: 100px;
}

.nav ul li a {
    color: #3d434b;
    padding: 15px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.nav ul li a:hover {
    color: #53a4eb;
    border-bottom: 2px solid #53a4eb;
}

/* Main */
    /* Section1 */

.section1 {
    width: 100%;
    margin: 20px 0;
}    

.img-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-about img {
    width: 100%;
}

    /* Section2 */
    
.section2 {
    width: 100%;
}

.about-dpp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 50px 0;
}

.about-dpp h3 {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    padding: 20px 50px;
    color: rgb(1, 119, 191);
}

.about-dpp p {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    padding: 0 56px;
}

    /* Section3 */

.section3 {
    width: 100%;
    margin: 80px 0;
}

.naz-trading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.naz {
    width: 60%;
}

.logo-naz {
    display: flex;
    padding: 30px 30px;
}

.logo-naz img {
    width: 30%;
}

.title-naz {
    display: flex;
    background-color: rgb(255, 194, 15);
    width: 100%;
}

.title-naz h3 {
    padding: 5px 30px;
    font-family: 'Poppins', sans-serif;
}

.about-naz {
    display: flex;
    text-align: left;
}

.about-naz p {
    padding: 20px 30px;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}


   /* Certificate */
   .section3 {
    width: 100%;
    font-family: 'poppins', sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
    /* background-color: #f1f1f1; */
    padding: 10px;
    flex: 25%;
    padding: 40px 0;
}

.flex-item-midleft {
    /* background-color: #f1f1f1; */
    padding: 10px;
    flex: 25%;
    padding: 40px 0;
}

.flex-item-midright {
    /* background-color: #f1f1f1; */
    padding: 10px;
    flex: 25%;
    padding: 40px 0;
}
  
.flex-item-right {
    /* background-color: #f1f1f1; */
    padding: 10px;
    flex: 25%;
    padding: 40px 0;
}

.first-logo {
    margin: 20px 0;
}

.first-logo img {
    display: flex;
    padding: 5px 40px;
    width: 30%;
}

.first-logo h6 {
    font-size: 15px;
    display: flex;
    justify-content: left;
    padding: 10px 40px;
}

.first-logo p {
    font-size: 14px;
    display: flex;
    text-align: left;
    padding: 0 40px;
    font-weight: 400;
    line-height: 25px;
}

.our-cert {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    /* background-color: #f1f1f1; */
    margin: 0 50px;
}


.our-cert h1 {
    padding: 50px 0;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.button-certi {
    display: flex;
    justify-content: right;
    align-items: right;
    margin: 20px 80px;
}

.button-certi button {
    padding: 10px 30px;
    border: none;
    background-color: #3d434b;
}

.button-certi button a {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #fafafa;
}

.our-cert button:hover {
    transform: translateY(-3px);
    background-color: #53a4eb;
} 

.our-cert button a {
    color: #fafafa;
    font-size: 15px;
}

    /* Section4 */
.section4 {
    width: 100%;
}

.year-container {
    display: flex;
    flex-wrap: wrap;
}

.year-left {
    padding: 10px;
    flex: 25%;
}

.current span {
    font-size: 30px;
    padding: 0 30px;
    color: #3d434b;
    border-bottom: 3px solid #53a4eb;
    font-weight: bold;   
}

.introduce {
    width: 100%;
    border-left: 3px solid #53a4eb;
    height: 200px;
}

.introduce p {
    padding: 50px 50px;
    font-weight: 600;
    line-height: 30px;
    font-size: 17px;
}

.year-midleft {
    padding: 10px;
    flex: 25%;
}

.year-midright {
    padding: 10px;
    flex: 25%;
}

.year-right {
    padding: 10px;
    flex: 25%;
}

.history {
    margin: 30px 0;
}

.history span {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 30px 30px;
    display: flex;
    text-align: center;
}

    /* Section5 */

.section5 {
    width: 100%;
    margin: 50px 0;
}    

.fac-container {
    display: flex;
    flex-wrap: wrap;
}

.fac-left {
    flex: 50%;
}

.fac-left h1 {
    font-family: 'Poppins', sans-serif;
    color: rgb(1, 119, 191);
    padding: 20px 30px;
}

.fac-left p {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    padding: 0 31px;
    text-align: left;
    justify-content: justify;
    line-height: 30px;
}

.fac-right {
    flex: 50%;
}

.fac-right img {
    width: 100%;
    padding: 10px 30px;
    border: none;
}

.qu {
    width: 100%;
    height: 280px;
}


/* Footer */

.footer {
    width: 100%;
    background-color: #3d434b;
    color: #fff;
    margin-top: 50px;
}

.footer h4 {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.item-left , 
.item-main , 
.item-right{
    flex: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
}

.item-left , 
.item-main , 
.item-right span {
    font-family: 'Poppins', sans-serif;
    color: #fafafa;
    font-size: 15px;
}

.item-left {
    border-right: 2px solid #202225;
}

.item-main {
    border-right: 2px solid #202225;
}

.icon-footer {
    margin-top: 30px;
}


.icon-footer a {
    color: #fff;
    margin-left: 10px;
}

.icon-footer a:hover {
    color: #53a4eb;
}

.social-media {
    font-size: 30px;
}

.social-media a {
    margin: 0 10px;
    color: #fafafa;
}

.social-media a:hover {
    color: #53a4eb;
    transform: translateY(-5px);
}

.reserved {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #202225;
    padding: 20px 0;
}

.reserved span {
    font-size: 12px;
}

.final {
    background-color: #202225;
}

/* Button */
.button-naz {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: right;
}


.button-naz a button{
    padding: 15px 30px;
    cursor: pointer;
    margin: 0 30px;
    background-color: rgb(255, 194, 15);
    color: #202225;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.button-naz a button:hover {
    transform: translateY(-3px);
}



/* MediaQuery */


@media (max-width:800px) {
    .nav a img {
        width: 30%;
    }

     .nav ul {
        position: fixed;
        width: 100%;
        left: 0;
        height: 100vh;
        background-color: #53a4eb;
        text-align: center;
        padding: 0;
        /* top: 50px; */
        left: -100%;
        transition: 2s;
    }

    nav ul.slide {
        left: 0;
        transition: 2s;
    }
    

    .nav ul li {
        display: block;
        width: 100%;
        margin: 20px 0;
    }

    .nav ul li a {
        border: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }

    .hamburger {
        float: right;
        padding-right: 20px;
        padding-top: 40px;
        cursor: pointer;
    }

    .hamburger .line {
        width: 40px;
        height: 3px;
        background-color: black;
        display: block;
        margin-bottom: 5px;

    }

    /* Main */
    .naz {
        width: 100%;
    }

    .img-about img {
        width: 100%;
        background-size: contain;
    }

    .flex-item-left img {
        width: 100%;
    }

    .about-dpp h3 {
        font-size: 15px;
        padding: 20px 10px;
        margin: 0;

    }

    .about-dpp p {
        font-size: 13px;
        padding: 0 20px;
        margin: 0;
    }

    .icon-cert {
        margin: 20px 0;
    }

    .icon-cert img {
        width: 20%;
    }

    .flex-item-right, .flex-item-left {
        flex: 100%;
    }

    .flex-item-right img {
        width: 100%;
    }

    .first-logo img {
        width: 40%;
    }

    .year-left, 
    .year-midleft , 
    .year-midright , 
    .year-right {
        flex: 100%;
    }
    .flex-item-right,
    .flex-item-left , 
    .flex-item-midleft, 
    .flex-item-midright {
        flex: 100%;
    }

      .flex-emp-right,
      .flex-emp-left , 
      .flex-emp-midleft, 
      .flex-emp-midright {
          flex: 100%;
          padding: 40px 0;
    }

    .our-cert {
        display: flex;
        flex-direction: column;
    }

    .our-cert h1 {
        font-size: 24px;
    }

    .our-cert button a{
        padding: 10px 10px;
        font-size: 13px;
    } 

    .fac-right, 
    .fac-left {
        flex: 100%;
    }

    .persian-container {
        width: 100%;
    }

    .logo-naz {
        padding: 0;
        margin: 0;
    }

    .logo-naz img {
        width: 70%;
    }

    .title-naz h3 {
        font-size: 14px;
        padding: 5px 10px;
    }

    .about-naz p {
        font-size: 14px;
        padding: 5px 10px;
        margin: 0;
    }

    .fac-left h1 {
        font-size: 20px;
    }

    .fac-left p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .fac-right img {
        width: 100%;

    }

    .qu {
        height: 150px;
    }


    /* Footer */      
    .item-left , 
    .item-main , 
    .item-right{
        flex: 100%;
    }

    .item-left , .item-main {
        border-right: none;
        border-bottom: 2px solid #202225;
    }
}

@media (width:810px) {
    .nav a img {
        width: 20%;
    }

     .nav ul {
        position: fixed;
        width: 100%;
        left: 0;
        height: 100vh;
        background-color: #53a4eb;
        text-align: center;
        padding: 0;
        /* top: 50px; */
        left: -100%;
        transition: 2s;
    }

    nav ul.slide {
        left: 0;
        transition: 2s;
    }
    

    .nav ul li {
        display: block;
        width: 100%;
        margin: 20px 0;
    }

    .nav ul li a {
        border: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }

    .hamburger {
        float: right;
        padding-right: 20px;
        padding-top: 40px;
        cursor: pointer;
    }

    .hamburger .line {
        width: 40px;
        height: 3px;
        background-color: black;
        display: block;
        margin-bottom: 5px;

    }
}