@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

/* Header */

.nav {
    width: 100%;
    /* height: 100px; */
}

.nav a img {
    width: 8%;
    padding-left: 30px;
    margin-top: 15px;
}

.nav ul {
    float: right;
    padding: 15px 10px;
    margin-right: 20px;
    /* border: 1px solid #53a4eb;
    background-color: #53a4eb; */
    margin-top: 3px;
    border-radius: 20px;
}

.nav ul li {
    display: inline-block;
    margin: 0 20px;
    line-height: 100px;
}

.nav ul li a {
    color: #3d434b;
    padding: 15px 10px;
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
}

.nav ul li a:hover {
    color: rgb(1, 119, 191);
    border-bottom: 2px solid rgb(1, 119, 191);
}

/* Image-Products */

.image-product {
    width: 100%;
    margin-top: 30px;
}

.image-product .image-background {
    background-image: url(/Image/Product/PE-Caps.jpeg);
    width: 100%;
    height: 670px;
    background-size: cover;
    background-position: center;
}

.image-background h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    font-size: 40px;
    color: #000;
    padding: 20px 50px;
    font-family: 'Archivo', sans-serif;
}


/* Name Products */

.name-product {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.row-name a {
    margin: 0 20px;
    color: #000;
    font-size: 18px;
    font-family: 'Archivo', sans-serif;
}

.row-name a:hover {
    color: rgb(1, 119, 191);
}


/* Products */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px 30px;
    padding: 0 100px;
  }
  
  .flex-item-one {
    padding: 10px;
    flex: 20%;
    margin: 0 5px;
  }
  
  .flex-item-one a img {
    width: 80%;
  }

  .flex-item-one h3 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    margin: 20px 0;
    color: rgb(105, 189, 68);
  }

  .flex-item-two {
    padding: 10px;
    flex: 20%;
    margin: 0 5px;
  }

  .flex-item-two a img {
    width: 80%;
    height: 280px;
  }

  .flex-item-two h3 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    margin: 20px 0;
    color: rgb(105, 189, 68);
  }
  
  .flex-item-three {
    padding: 10px;
    flex: 20%;
    margin: 0 5px;
  }

  .flex-item-three a img {
    width: 80%;
    height: 280px;  
  }

  .flex-item-three h3 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    margin: 20px 0;
    color: rgb(105, 189, 68);
  }
  
  .flex-item-four {
    padding: 10px;
    flex: 20%;
    margin: 0 5px;
  } 

  .flex-item-four a img {
    width: 80%;
    height: 270px;
  }

  .flex-item-four h3 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    margin: 20px 0;
    color: rgb(105, 189, 68);
  }
    
  .flex-item-five {
    padding: 10px;
    flex: 20%;
    margin: 0 5px;
  }
  
  .flex-item-five a img {
    width: 80%;
    height: 270px;
  }

  .flex-item-five h3 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    margin: 20px 0;
    color: rgb(105, 189, 68);
  }

  .flex-item-six {
    padding: 10px;
    flex: 20%;
    margin: 0 5px;
  }
  
  .flex-item-six a img {
    width: 80%;
    height: 270px;
  }

  .flex-item-six h3 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    margin: 20px 0;
    color: rgb(105, 189, 68);
  }


  .flex-item-one img:hover,
  .flex-item-two img:hover,
  .flex-item-three img:hover,
  .flex-item-four img:hover,
  .flex-item-five img:hover,
  .flex-item-six img:hover {
    opacity: 0.8;
  }

  /* Footer */

.footer {
    width: 100%;
    background-color: #3d434b;
    color: #fff;
}

.footer h4 {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.item-left , 
.item-main , 
.item-right{
    flex: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
}

.item-left , 
.item-main , 
.item-right span {
    font-family: 'Poppins', sans-serif;
    color: #fafafa;
    font-size: 15px;
}

.item-left {
    border-right: 2px solid #202225;
}

.item-main {
    border-right: 2px solid #202225;
}

.icon-footer {
    margin-top: 30px;
}


.icon-footer a {
    color: #fff;
    margin-left: 10px;
}

.icon-footer a:hover {
    color: #53a4eb;
}

.social-media {
    font-size: 30px;
}

.social-media a {
    margin: 0 10px;
    color: #fafafa;
}

.social-media a:hover {
    color: #53a4eb;
    transform: translateY(-5px);
}

.reserved {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #202225;
    padding: 20px 0;
}

.reserved span {
    font-size: 12px;
}

.final {
    background-color: #202225;
}



/* MediaQuery */

@media (max-width:940px) {
    .nav a img {
        width: 20%;
    }

     .nav ul {
        position: fixed;
        width: 100%;
        left: 0;
        height: 100vh;
        background-color: rgb(1, 119, 191);
        text-align: center;
        padding: 0;
        /* top: 50px; */
        left: -100%;
        transition: 2s;
    }

    nav ul.slide {
        left: 0;
        transition: 2s;
    }
    

    .nav ul li {
        display: block;
        width: 100%;
        margin: 20px 0;
    }

    .nav ul li a {
        border: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }

    .hamburger {
        float: right;
        padding-right: 20px;
        padding-top: 40px;
        cursor: pointer;
    }

    .hamburger .line {
        width: 40px;
        height: 3px;
        background-color: black;
        display: block;
        margin-bottom: 5px;
    }

    /* Main */

    /* ==== Image Product ===== */

    /* ==== Name Product ==== */

    /* ==== Product ===== */
    .flex-item-one, .flex-item-two , .flex-item-three , .flex-item-four , .flex-item-five  {
        flex: 100%;
      }

}

@media (width:810px) {
    .nav a img {
        width: 20%;
    }

     .nav ul {
        position: fixed;
        width: 100%;
        left: 0;
        height: 100vh;
        background-color: rgb(1, 119, 191);
        text-align: center;
        padding: 0;
        /* top: 50px; */
        left: -100%;
        transition: 2s;
    }

    nav ul.slide {
        left: 0;
        transition: 2s;
    }
    

    .nav ul li {
        display: block;
        width: 100%;
        margin: 20px 0;
    }

    .nav ul li a {
        border: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }

    .hamburger {
        float: right;
        padding-right: 20px;
        padding-top: 40px;
        cursor: pointer;
    }

    .hamburger .line {
        width: 40px;
        height: 3px;
        background-color: black;
        display: block;
        margin-bottom: 5px;
    }

}