@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

/* Header */
nav {
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    font-family: 'Archivo', sans-serif;
    z-index: 100;
    max-width: 100%;
  }
  
  nav .nav-bar .sidebarOpen {
    color: #111;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
  }
  
  nav .nav-bar img {
    width: 20%;
  }
  
  nav .nav-bar {
    position: relative;
    height: 100%;
    /* max-width: 1000px; */
    width: 100%;
    /* background-color: rgb(1, 119, 191); */
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu-header .logo-toggle {
    display: none;
  }
  
  .nav-bar .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-bar .nav-links li {
    margin: 0 20px;
    list-style: none;
    transform: translateX(250px);
  }
  
  .nav-bar .nav-links li a:hover {
    color: rgb(1, 119, 191);
    border-bottom: 1px solid rgb(1, 119, 191);
  }
  
  .nav-links li a{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    text-align: none;
    font-family: 'Archivo', sans-serif;
    color: #111;
    padding: 10px;
  }
  
  .nav-bar .darklight-searchBox {
    display: flex;
    align-items: center;
  }
  
  .darklight-searchBox .searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
  
  .searchToggle i {
    position: absolute;
    color: #111;
    font-size: 22px;
    cursor: pointer;
  }
  
  .searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
  }
  
  .searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
  }
  
  .searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
  }
  
  .searchBox {
    position: relative;
  }
  
  .searchBox .search-field {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 3px;
    border-radius: 6px;
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); */
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .searchToggle.active ~ .search-field {
    bottom: -65px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .search-field::before {
    content: '';
    position: absolute;
    right: 14px;
    top: -2px;
    height: 12px;
    width: 12px;
    background-color: rgb(1, 119, 191);
    transform: rotate(-45deg);
    z-index: -1;
  }
  
  
  .search-field input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: 1px solid rgb(1, 119, 191);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #111;
  }
  
  .search-field i {
    position: absolute;
    color: #111;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
  }
/* Main */

    /* Section1 */

.section1 {
    width: 100%;
}    


.certification  {
    width: 100%;
    height: 100px;
    background-color: #53a4eb;;
}

.certification h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    line-height: 100px;
    color: #fafafa;
    font-family: 'Poppins', sans-serif;
}

    /* Section2 */

.section2 {
    width: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.flex-item-left {
    background: linear-gradient(80deg, #53a4eb 50%, #fff 50%);
    padding : 10px;
    flex : 50%;
}

.flex-item-left img {
    width: 60%;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
}

.flex-item-right img {
    width: 60%;
}

/* Section3 */
.section3 {
    border-top: 3px solid #53a4eb;
    width: 100%;
}

.flex-cert1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.flex-certleft {
    flex: 50%;
    padding: 20px;
}

.flex-certleft img,
.flex-certright1 img {
    width: 60%;
}

.flex-certright1 {
    flex: 50%;
    padding: 20px;
    background: linear-gradient(100deg, #fff 50%, #53a4eb 50%);
}

.flex-certleft1 .line1 {
    width: 30%;
}

/* Section4 */
.section4 {
    border-top: 3px solid #53a4eb;
    width: 100%;
}

.flex-cert2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.flex-certleft1 {
    flex: 50%;
    padding: 20px;
    background: linear-gradient(80deg, #53a4eb 50%, #fff 50%);
}

.flex-certright {
    flex: 50%;
    padding: 20px;
}

.flex-certleft1 img , 
.flex-certright img {
    width: 60%;
}

/* Footer */

.footer {
    width: 100%;
    background-color: #3d434b;
    color: #fff;
}

.footer h4 {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.item-left , 
.item-main , 
.item-right{
    flex: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
}

.item-left , 
.item-main , 
.item-right span {
    font-family: 'Poppins', sans-serif;
    color: #fafafa;
    font-size: 15px;
}

.item-left {
    border-right: 2px solid #202225;
}

.item-main {
    border-right: 2px solid #202225;
}

.icon-footer {
    margin-top: 30px;
}


.icon-footer a {
    color: #fff;
    margin-left: 10px;
}

.icon-footer a:hover {
    color: #53a4eb;
}

.social-media {
    font-size: 30px;
}

.social-media a {
    margin: 0 10px;
    color: #fafafa;
}

.social-media a:hover {
    color: #53a4eb;
    transform: translateY(-5px);
}

.reserved {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #202225;
    padding: 20px 0;
}

.reserved span {
    font-size: 12px;
}

.final {
    background-color: #202225;
}

/* MediaQuery */


@media (max-width:940px) {
    /* Header */
    nav .nav-bar .sidebarOpen {
        display: block;
    }
  
    .menu-header {
        position: fixed;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: rgb(1, 119, 191);
        z-index: 100;
        transition: all 0.8s ease;
    }
    
    nav.active .menu-header {
        left: 0%;
    }
  
    .menu-header .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
  
    .logo-toggle .siderbarClose {
        color: #fafafa;
        font-size: 24px;
        cursor: pointer;
    }
  
    nav .nav-bar img {
        width: 60%;
        padding: 0;
    }
  
    .nav-bar .nav-links li {
        transform: translateX(0);
        padding: 20px 0;
    }
  
    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 50px;
    }
  
    .nav-links li a {
        display: block;
        margin-top: 20px;
    }
    
  
    /* Main */

    .flex-certleft1 .line1 {
        width: 100%;
    }

    .flex-item-left,
    .flex-item-right {
        flex: 100%;
    }

    .flex-item-left img,
    .flex-item-right img {
        width: 100%;
    }

    .flex-certleft,
    .flex-certright1 {
        flex: 100%;
    }

    .flex-certleft img ,
    .flex-certright1 img {
        width: 100%;
    }

    .flex-certleft1,
    .flex-certright {
        flex: 100%;
    }

    .flex-certleft1 img ,
    .flex-certright img {
        width: 100%;
    }

    /* Footer */      
    .item-left , 
    .item-main , 
    .item-right{
        flex: 100%;
    }

    .item-left , .item-main {
        border-right: none;
        border-bottom: 2px solid #202225;
    }
}

