@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
  font-family: 'Archivo', sans-serif !important;
}

/* Header */
nav {
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    font-family: 'Archivo', sans-serif;
    z-index: 100;
  }
  
  nav .nav-bar .sidebarOpen {
    color: #111;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
  }
  
  nav .nav-bar img {
    width: 20%;
  }
  
  nav .nav-bar {
    position: relative;
    height: 100%;
    /* max-width: 1000px; */
    width: 100%;
    /* background-color: rgb(1, 119, 191); */
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu-header .logo-toggle {
    display: none;
  }
  
  .nav-bar .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-bar .nav-links li {
    margin: 0 10px;
    list-style: none;
    transform: translateX(400px);
  }
  
  .nav-bar .nav-links li a:hover {
    color: rgb(1, 119, 191);
    border-bottom: 1px solid rgb(1, 119, 191);
  }
  
  .nav-links li a{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    text-align: none;
    font-family: 'Archivo', sans-serif;
    color: #111;
    padding: 10px;
  }
  
  .nav-bar .darklight-searchBox {
    display: flex;
    align-items: center;
  }
  
  .darklight-searchBox .searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
  
  .searchToggle i {
    position: absolute;
    color: #111;
    font-size: 22px;
    cursor: pointer;
  }
  
  .searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
  }
  
  .searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
  }
  
  .searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
  }
  
  .searchBox {
    position: relative;
  }
  
  .searchBox .search-field {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 3px;
    border-radius: 6px;
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); */
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .searchToggle.active ~ .search-field {
    bottom: -65px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .search-field::before {
    content: '';
    position: absolute;
    right: 14px;
    top: -2px;
    height: 12px;
    width: 12px;
    background-color: rgb(1, 119, 191);
    transform: rotate(-45deg);
    z-index: -1;
  }
  
  
  .search-field input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: 1px solid rgb(1, 119, 191);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #111;
  }
  
  .search-field i {
    position: absolute;
    color: #111;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
  }

/* Main */

.arch_contact_us_duplicate .icon-block svg {
  width: 100%;
  height: 100%;
}

.arch_contact_us_duplicate .icon-block {
  width: 30px;
  height: 30px;
}

.arch_contact_us_duplicate .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  line-height: 25px;
}

.arch_contact_us_duplicate .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.arch_contact_us_duplicate .responsive-cell-block {
  min-height: 75px;
}

.arch_contact_us_duplicate .responsive-container-block.big-container {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  background-color: transparent;
}

.arch_contact_us_duplicate .responsive-container-block.container {
  max-width: 1100px;
  justify-content: space-between;
}

.arch_contact_us_duplicate .text-blk.section-head {
  font-size: 30px;
  line-height: 65px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 3px;
  margin-left: 0px;
}

.arch_contact_us_duplicate .text-blk.section-subhead {
  font-size: 15px;
  line-height: 18px;
  color: #222;
}

.arch_contact_us_duplicate .input {
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  height: 54px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding-top: 1px;
  padding-right: 16px;
  padding-bottom: 1px;
  padding-left: 16px;
  font-size: 16px;
}

.arch_contact_us_duplicate .textinput {
  width: 100%;
  height: 125px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 27px;
  margin-left: 0px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.arch_contact_us_duplicate .button {
  height: 50px;
  min-width: 240px;
  font-size: 16px;
  color: white;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
  background-color: rgb(1, 119, 191);
  cursor: pointer;
}

.arch_contact_us_duplicate .form-wrapper {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: rgb(1, 119, 191);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.arch_contact_us_duplicate .social-media-icon-container {
  display: flex;
  max-width: 400px;
  justify-content: space-evenly;
}

.arch_contact_us_duplicate .input-element {
  background-color: rgb(1, 119, 191);
  color: #fff;
}

.arch_contact_us_duplicate .icon-block.social-icon {
  fill: rgb(1, 119, 191);
}


*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}


@media (max-width: 1024px) {
   /* Header */
   nav .nav-bar .sidebarOpen {
    display: block;
}

.menu-header {
    position: fixed;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: rgb(1, 119, 191);
    z-index: 100;
    transition: all 0.8s ease;
}

nav.active .menu-header {
    left: 0%;
}

.menu-header .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-toggle .siderbarClose {
    color: #fafafa;
    font-size: 24px;
    cursor: pointer;
}

nav .nav-bar img {
    width: 60%;
    padding: 0;
}

.nav-bar .nav-links li {
    transform: translateX(0);
    padding: 20px 0;
}

.nav-bar .nav-links {
    flex-direction: column;
    padding-top: 50px;
}

.nav-links li a {
    display: block;
    margin-top: 20px;
}


  .wk-ipadp-1 {
    width: 10.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .arch_contact_us_duplicate .text-blk.section-subhead {
    font-size: 12px;
  }

  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}
/* MediaQuery */

@media (max-width: 1024px) {
  .arch_contact_us_duplicate .text-blk.section-head {
    font-size: 20px;
    line-height: 60px;
  }

  .arch_contact_us_duplicate .responsive-container-block.container {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .arch_contact_us_duplicate .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-6.wk-desk-5 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
  }

  .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-ipadp-6.wk-desk-5.wk-tab-10 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
    text-align: center;
  }

  .arch_contact_us_duplicate .input {
    height: 45px;
  }

  .arch_contact_us_duplicate .responsive-container-block.container {
    justify-content: space-evenly;
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
  }

  .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-desk-5.wk-tab-10.wk-ipadp-5 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  .arch_contact_us_duplicate .text-blk.section-head {
    font-size: 20px;
    line-height: 45px;
    margin: 10px 0;
    width: 100%;
  }

  .arch_contact_us_duplicate .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .arch_contact_us_duplicate .input {
    height: 40px;
  }

  .arch_contact_us_duplicate .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-6.wk-desk-5 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
  }

  .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-ipadp-6.wk-desk-5.wk-tab-10 {
    text-align: left;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .arch_contact_us_duplicate .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
  }

  .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-desk-5.wk-tab-10.wk-ipadp-5 {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .arch_contact_us_duplicate .button {
    width: 100%;
  }

  .arch_contact_us_duplicate .button {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    height: 50px;
  }

  .arch_contact_us_duplicate .form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }

  .arch_contact_us_duplicate .icon-block {
    width: 25px;
    height: 25px;
  }
}