@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body {
    font-family: 'Archivo', sans-serif;
}


    /* Header */
    nav {
        /* position: fixed; */
        top: 0;
        left: 0;
        height: 150px;
        width: 100%;
        font-family: 'Archivo', sans-serif;
        z-index: 100;
        max-width: 100%;
    }
    
    nav .nav-bar .sidebarOpen {
        color: #111;
        font-size: 25px;
        padding: 5px;
        cursor: pointer;
        display: none;
    }
    
    nav .nav-bar img {
        width: 20%;
    }
    
    nav .nav-bar {
        position: relative;
        height: 100%;
        /* max-width: 1000px; */
        width: 100%;
        /* background-color: rgb(1, 119, 191); */
        margin: 0 auto;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .menu-header .logo-toggle {
        display: none;
    }
    
    .nav-bar .nav-links {
        display: flex;
        align-items: center;
    }
    
    .nav-bar .nav-links li {
        margin: 0 10px;
        list-style: none;
        transform: translateX(250px);
    }
    
    .nav-bar .nav-links li a:hover {
        color: rgb(1, 119, 191);
        border-bottom: 1px solid rgb(1, 119, 191);
    }
    
    .nav-links li a{
        position: relative;
        font-size: 20px;
        font-weight: 500;
        text-align: none;
        font-family: 'Archivo', sans-serif;
        color: #111;
        padding: 10px;
    }
    
    .nav-bar .darklight-searchBox {
        display: flex;
        align-items: center;
    }
    
    .darklight-searchBox .searchToggle {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
    }
    
    .searchToggle i {
        position: absolute;
        color: #111;
        font-size: 22px;
        cursor: pointer;
    }
    
    .searchToggle i.cancel {
        opacity: 0;
        pointer-events: none;
    }
    
    .searchToggle.active i.cancel {
        opacity: 1;
        pointer-events: auto;
    }
    
    .searchToggle.active i.search {
        opacity: 0;
        pointer-events: none;
    }
    
    .searchBox {
        position: relative;
    }
    
    .searchBox .search-field {
        position: absolute;
        bottom: -85px;
        right: 5px;
        height: 50px;
        width: 300px;
        display: flex;
        align-items: center;
        background-color: transparent;
        padding: 3px;
        border-radius: 6px;
        /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); */
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    
    .searchToggle.active ~ .search-field {
        bottom: -65px;
        opacity: 1;
        pointer-events: auto;
    }
    
    .search-field::before {
        content: '';
        position: absolute;
        right: 14px;
        top: -2px;
        height: 12px;
        width: 12px;
        background-color: rgb(1, 119, 191);
        transform: rotate(-45deg);
        z-index: -1;
    }
    
    
    .search-field input {
        height: 100%;
        width: 100%;
        padding: 0 45px 0 15px;
        outline: none;
        border: 1px solid rgb(1, 119, 191);
        border-radius: 4px;
        font-size: 14px;
        font-weight: 400;
        color: #111;
    }
    
    .search-field i {
        position: absolute;
        color: #111;
        right: 15px;
        font-size: 22px;
        cursor: pointer;
    }
    


/* Image-Products */

.image-product {
    width: 100%;
    margin-top: 30px;
}

.image-product .image-background {
    background-image: url(/Image/_DSC1596.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-background h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    font-size: 40px;
    color: #000;
    padding: 100px 50px;
    font-family: 'Archivo', sans-serif;
}


/* Product */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}
  
.flex-item-left {
    flex: 50%;
    text-align: center;
}

.flex-item-left img {
    width: 70%;
}
  
.flex-item-right {
    flex: 50%;
    margin: 10px 0;
}

.flex-item-right img {
    width: 6%;
    margin: 0px 10px;
}

.flex-item-right h2 {
    display: flex;
    text-align: left;
    margin-bottom: 20px;
}

.info {
    display: flex;
    margin: 20px 0;
    border-bottom: 1px dotted #3d434b;
    width: 50%;
    padding: 10px 0;
}

.info h4 {
    font-size: 15px;
}

.info span {
    font-size: 13px;
    font-weight: 400;
    margin: 0 4px;
}

.title-related h2 {
    font-size: 25px;
    padding: 0 150px;
    margin-bottom: 20px;
}

.related-container {
    display: flex;
    text-align: left;
    padding: 0 120px;
}

.related-1 {
    padding: 10px;
    flex: 20%;
}

.related-1 img {
    width: 100%;
}

.related-1 p {
    color: #111;
    margin: 5px 0;
}

.related-2 {
    padding: 10px;
    flex: 20%;
}

.related-2 img {
    width: 100%;
}

.related-2 p {
    color: #111;
    margin: 5px 0;
}

.related-1 img:hover ,
.related-2 img:hover {
    opacity: 0.8;
}

.related-1 p:hover,
.related-2 p:hover {
    color: rgb(1, 119, 191);
    transition: all 0.1s ease-in;
}

.arrow {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.arrow i {
    font-size: 23px;
    color: #202225;
}

/* Footer */

.footer {
    width: 100%;
    background-color: #3d434b;
    color: #fff;
}

.footer h4 {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.item-left , 
.item-main , 
.item-right{
    flex: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
}

.item-left , 
.item-main , 
.item-right span {
    font-family: 'Poppins', sans-serif;
    color: #fafafa;
    font-size: 15px;
}

.item-left {
    border-right: 2px solid #202225;
}

.item-main {
    border-right: 2px solid #202225;
}

.icon-footer {
    margin-top: 30px;
}


.icon-footer a {
    color: #fff;
    margin-left: 10px;
}

.icon-footer a:hover {
    color: #53a4eb;
}

.social-media {
    font-size: 30px;
}

.social-media a {
    margin: 0 10px;
    color: #fafafa;
}

.social-media a:hover {
    color: #53a4eb;
    transform: translateY(-5px);
}

.reserved {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #202225;
    padding: 20px 0;
}

.reserved span {
    font-size: 12px;
}

.final {
    background-color: #202225;
}



/* MediaQuery */

@media (max-width:940px) {
     /* Header */
     nav .nav-bar .sidebarOpen {
        display: block;
    }

    .menu-header {
        position: fixed;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: rgb(1, 119, 191);
        z-index: 100;
        transition: all 0.8s ease;
    }
    
    nav.active .menu-header {
        left: 0%;
    }

    .menu-header .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose {
        color: #fafafa;
        font-size: 24px;
        cursor: pointer;
    }

    nav .nav-bar img {
        width: 60%;
        padding: 0;
    }

    .nav-bar .nav-links li {
        transform: translateX(0);
        padding: 20px 0;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 50px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
    }

    /* Main */

    /* ==== Image Product ===== */
    .image-product {
        width: 100%;
    }

    .image-product .image-background {
        width: 100%;
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
    }

    .image-product h1 {
        font-size: 20px;
        margin: 0;
        padding: 100px 20px;
    }

    /* ==== Product ===== */
    .flex-item-right, .flex-item-left {
        flex: 100%;
    }

    .info {
        width: 100%;
    }

    .info h4 {
        margin: 0 10px;
    }

    .arrow {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .flex-item-left img {
        width: 95%;
    }

    .flex-item-right h2 {
        padding: 10px 20px;
    }

    /* Related */

    .title-related h2 {
        font-size: 15px;
        padding: 0 10px;
        margin-bottom: 20px;
    }

    .related-container {
        display: flex;
        text-align: left;
        padding: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .related-1 img , 
    .related-2 img {
        width: 70%;
    }

    /* .related-1 {
        flex: 100%;
    }

    .related-2 {
        flex: 100%;
    } */

        /* Footer */      
        .item-left , 
        .item-main , 
        .item-right{
            flex: 100%;
        }
    
        .item-left , .item-main {
            border-right: none;
            border-bottom: 2px solid #202225;
        }
}
